@import '~bootstrap/scss/bootstrap';

$black: #000;
$green: #080;
$light-blue: #ade;
$red: #f00;

.border {
  border: 3px solid $black;
  margin: 20px;
  padding: 20px;
}

.box {
  align-items: center;
  background-color: $light-blue;
  border: 1px solid $black;
  display: flex;
  height: 80px;
  justify-content: center;
}

.failure {
  color: $red;
}

.no-display {
  align-items: center;
  display: none;
  justify-content: center;
}

.success {
  color: $green;
}
